@font-face {
    font-family: 'Blatant';
    src: url('../fonts/BlatantBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blatant';
    src: url('../fonts/BlatantRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.cottage-textile {
    background-color: #F3EEEE;
    font-family: 'Open Sans', sans-serif;
}
.cottage-textile h1,
.cottage-textile h2,
.cottage-textile h3,
.cottage-textile h4 {
    font-family: 'Blatant';
    color: #2C1B19;
}
.cottage-textile p, .cottage-textile a {
    color: #1E1312;
    font-size: 18px;
}
.cottage-textile a:hover {
    color: #1E1312;
}
.blatant {
    font-family: 'Blatant';
}

/* navbar styles */
.cottage-textile .navbar {
    background-color: rgba(208, 193, 183, 0.3);
}
.navbar-brand img {
    height: 30px;
}
/* banner styles */
.banner-container {
    display: flex;
    height: 500px;
    position: relative;
}
.banner-container .container {
 display: flex;
}
.banner-img-container {
    height: 100%;
    flex: 1;
}
.banner-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner-text-container {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 60px;
}
.banner-text-container .banner-tag {
    z-index: 1;
}
.banner-text-container h1 {
    z-index: 1;
    margin-bottom: 0;
}
.banner-text-container p {
    z-index: 1;
    font-size: 18px;
    font-family: 'Blatant';
}
.banner-text-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 145%;
    background: rgb(194,169,145);
    background: linear-gradient(270deg, rgba(194,169,145,1) 77%, rgba(18,18,18,0) 100%);
    z-index: 0;
}
/* USP styles */
.usp-section {
    padding: 90px 0;
    display: flex;
    justify-content: center;
}
.usp-section .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
}
.usp-info-container h2 {
    margin-bottom: 36px;
    font-size: 40px;
    font-weight: 400;
}
.usp-feature-container {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}
.usp-feature-image-container {
    width: 72px;
    height: 72px;
    margin-right: 30px;
}
.usp-feature-image-container img{
    width: 100%;
    object-fit: cover;
}
.usp-feature-container h3 {
    font-size: 20px;
    margin-bottom: 0;
    color: #1E1312;
}
.usp-feature-container p {
    font-size: 14px;
    margin-bottom: 0;
    opacity: 0.7;
}
.quality-assured {
    border-radius: 8px;
    background-color: #E9E0E0;
    padding: 48px;
}
.quality-assured h4 {
    font-size: 38px;
    margin-bottom: 0;
}
.quality-assured {
    border-radius: 8px;
    background-color: #E9E0E0;
    padding: 48px;
}
.quality-image-container {
    width: 106px;
    height: 120px;
    margin-bottom: 36px;
}
.quality-image-container img {
    width: 100%;
    object-fit: contain;
}
.grid-container {
    display: flex;
}
.grid-container .grid-item {
    cursor: pointer;
    transition: all ease .3s;
}
.grid-container .grid-item:hover.slant-10 {
    transform: scale(1.05);
    z-index: 999;
}
.grid-container h3, .grid-container h6 {
    margin: 0;
}
.grid-item .grid-image-container {
    height: calc(70% - 20px);
    width: calc(100% - 20px);
    object-fit: cover;
    margin-bottom: 20px;
}
/* .slant-10 {
    transform: skewX(-10deg);
} */
.grid-item .grid-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sellers-content-container .grid-image-container img {
    border-radius: 10px;
}
.mt-50 {
    margin-top: 50px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    background-color: #3E3B48;
}
.footer p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    margin: 0;
}